@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter",sans-serif;
    font-size: .875rem;
}
header {
    background: rgb(243, 248, 255);
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 32px;
    margin: 0 auto;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    gap: 24px;
    align-items: center;

    a {
        color: inherit;
        text-decoration: none;
    }

    :hover {
        color: lightseagreen;
    }
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: lightseagreen;
}

.article-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    gap: 1.5rem;

    h2 {
        font-size: 1.75rem;
        color: darkslategray;
    }

    article {
        border: 1px solid lightgray;
        padding: 30px;

        img {
            width: 100%;
            object-fit: cover;
        }

        h3 {
            font-size: 1.25rem;
            margin-block: 1rem;
        }

        .details {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
        }
    }
}